<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Omnom - Whats for lunch?</title>



    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/shop-item.css" rel="stylesheet">

</head>

<body ng-controller="MainCtrl">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Omnom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Start Adventure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ongoing Adventures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Past Adventures</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3 hide-sm">
                <h1 class="my-4">Omnom</h1>
                <div class="list-group">
                    <a ng-click="changePage('start')" href class="list-group-item active">Start Advenrture</a>
                    <a ng-click="changePage('ongoing')" href class="list-group-item">Current Adventures</a>
                    <a ng-click="changePage('past')" href class="list-group-item">Past Adventures</a>
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9" ng-show="page =='start'">

                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="./images/logo.jpg" alt="">
                    <div class="card-body">
                        <form ng-submit="createAdventure()">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" model="firstName" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" model="lastName" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <label for="emailInput">Email address</label>
                                <input type="email" class="form-control" id="emailInput" model="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleSelect2">What time(s) are you available for</label>
                                <select multiple class="form-control" id="exampleSelect2" model="timeOptions">
                                            <option>12</option>
                                            <option>12:30</option>
                                            <option>1</option>
                                            <option>1:30</option>
                                            <option>2</option>
                                          </select>
                            </div>
                            <div class="form-group">
                                <label for="venueOptions">Example textarea</label>
                                <textarea class="form-control" id="venueOptions" model="venueOptions" rows="3"></textarea>
                                <small id="optionsHelp" class="form-text text-muted">Enter lunch options, comma seperated</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <div class="col-lg-9" ng-show="page == 'current'">
                <!-- Y'all can't touch this fucking sweet ass current adventure screen. Shit's tight.  -->
                Current Stuff
            </div>
            <!-- /.col-lg-9 -->
            <div class="col-lg-9" ng-show="page == 'ongoing'">
                blah blah
            </div>

            <div class="col-lg-9" ng-show="page == 'past'">
                blah blah
            </div>

            

        </div>

    </div>
    <!-- /.container -->



    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Team OchoCinco!</p>
        </div>
        <!-- /.container -->
    </footer>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>



</html>